@inject IAttachmentService AttachmentService
@inject IStoryService StoryService
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="editor">
    <div class="editor-left">
        <InputFile OnChange="OnFileSelected" />

        <input @bind="content" placeholder="Add caption..." />
        <div class="controls">
            <label>Visibility</label>

            <select @bind="visibility">
                <option value="public">Public</option>
                <option value="followers">Followers</option>
                <option value="specific">Specific people</option>
            </select>
        </div>

        @if (visibility == "specific")
        {
            <div class="controls">
                <input placeholder="Type name..."
                       @bind="searchUser"
                       @oninput="SearchUsers" />

                @if (searchResults.Any())
                {
                    <div class="search-results">
                        @foreach (var u in searchResults)
                        {
                            <div class="search-item" @onclick="() => AddUser(u)">
                                @u.DisplayName
                            </div>
                        }
                    </div>
                }

                @if (selectedUsers.Any())
                {
                    <div class="selected-users">
                        @foreach (var u in selectedUsers)
                        {
                            <div class="selected-user">
                                @u.DisplayName
                                <button @onclick="() => RemoveUser(u)">✕</button>
                            </div>
                        }
                    </div>
                }
            </div>
        }

        <button class="home-btn home-btn-secondary"
                disabled="@(visibility == "specific" && !selectedUsers.Any())"
                @onclick="Submit">
            Post Story
        </button>
    </div>

    <div class="editor-right">
        @if (imagePreview != null)
        {
            <div class="preview">
                <div class="preview-bg" style="background-image:url('@imagePreview')"></div>

                <img src="@imagePreview" class="preview-img" />

                <div class="preview-text">@content</div>
            </div>
        }
    </div>


</div>

@code {
    private string content = "";
    private IBrowserFile? file;
    private string? imagePreview;
    private string visibility = "public";
    private string searchUser = "";
    private string? currentUserId;
    private List<UserProfile> selectedUsers = new();
    private List<UserProfile> searchResults = new();
    [Inject] private IUserService UserService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        currentUserId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);
    }

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        file = e.File;

        using var ms = new MemoryStream();
        await file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024).CopyToAsync(ms);

        imagePreview = $"data:{file.ContentType};base64,{Convert.ToBase64String(ms.ToArray())}";
    }

    private async Task Submit()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);

        if (string.IsNullOrWhiteSpace(userId))
        {
            return;
        }
        if (file == null) return;

        if (visibility == "specific" && !selectedUsers.Any())
        {
            Console.WriteLine("Invalid: no selected users");
            return;
        }


        await using var stream = file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024);

        var attachment = await AttachmentService.SaveFilePhysicalAsync(
            stream,
            file.Name,
            file.ContentType
        );

        await StoryService.CreateStoryAsync(new CreateStoryRequest
        {
            UserId = userId,
            Content = content,
            MediaUrl = attachment.Url,
            Visibility = visibility,
            AllowedUserIds = visibility == "specific"
        ? selectedUsers.Select(u => u.UserId).ToList()
        : null
        });

        Nav.NavigateTo("/story");
    }
    private async Task SearchUsers(ChangeEventArgs e)
    {
        var q = e.Value?.ToString() ?? "";
        searchUser = q;

        if (string.IsNullOrWhiteSpace(q))
        {
            searchResults.Clear();
            return;
        }

        searchResults = (UserService.GetUsersByDisplayNameAsync(q))
    .Where(u =>
        u.UserId != currentUserId &&
        !selectedUsers.Any(s => s.UserId == u.UserId))
    .Take(5)
    .ToList();
    }

    private void AddUser(UserProfile user)
    {
        selectedUsers.Add(user);
        searchResults.Clear();
        searchUser = "";
    }

    private void RemoveUser(UserProfile user)
    {
        selectedUsers.RemoveAll(u => u.UserId == user.UserId);
    }
}
